.btn_action{
    background: $red;
    color: $white;
    filter: drop-shadow(0px 4px 0px darken($color: $red, $amount: 10));
    transform: translateY(-2px);
    
    &:hover, &:focus{
        background: darken($color: $red, $amount: 5);
        color: $white;
    }
}