header.container
    .header
        a.header__logo-spbu(href="#")
        .header__logo(href="index.html")
        .header__navbar.navbar.navbar-expand-xl
            button.header__toggler.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false")
                span.navbar-toggler-icon.header__toggler-icon
            .header__nav.collapse.navbar-collapse#navbarMain
                ul.list.header__nav-item
                    li.navbar__item
                        a.navbar__link(href="#") Программы обучения
                    li.navbar__item
                        a.navbar__link(href="#") Расписание и цены
                    li.navbar__item
                        a.navbar__link(href="#") Преподаватели
                    li.navbar__item
                        a.navbar__link(href="#") О Школе
                    li.navbar__item
                        a.navbar__link(href="#") Новости
                    li.navbar__item 
                        a.navbar__link(href="#") События
                    li.navbar__item
                        a.navbar__link(href="#") Контакты
                    li.navbar__item
                        a.navbar__link.navbar__link_action(href="#") Пройти тест
                ul.list.header__nav-item
                    li.header__contact
                        a.link.link_vk(href="#") ВКонтакте
                    li.header__contact
                        a.link.link_fb(href="#") Facebook
                    li.header__contact
                        a.link.link_email(href="#") perevod.spb@spbu.ru
                    li.header__contact
                        a.link(href="#") 8 (812) 363-66-59
                    li.header__contact
                        a.link.link_phone(href="#") +7 911 933-66-59
                    li.header__contact
                        a.link(href="#") 8 (812) 323-42-88
                    li.header__btn
                        a.btn.btn--small.btn_default(data-fancybox="" data-src="#registerModal" href="javascript;") Заявка на курс
                
