.header{
    display: flex;
    flex-wrap: nowrap;
    max-height: 120px;

    background-color: $white;

    &__logo-spbu{
        flex: 0 0 60px;
        max-width: 60px;
        height: 60px;
        background: url("../icon/logo-spbu.svg") no-repeat center / 50% ;
        border-right: 1px solid $gray-400;
    }
    &__logo{
        flex: 0 0 calc(100% - 120px);
        max-width: calc(100% - 120px);
        height: 60px;
        background: url("../icon/logo-new-2020.svg") no-repeat center / 140px ;
        background-position-x: $spacer/2;

        min-width: 200px;
    }
    &__navbar{
        flex: 0 0 60px;
        max-width: 60px;
        justify-content: flex-end;

        position: inherit;
        padding: 0 $spacer/2 0 0;
    }
    &__toggler{
        // display: none;
        outline: none;
        padding: 0;

        &:hover, &:focus{
            outline: none;
        }
        &-icon{
            background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            background-size: 22px;
            width: 40px;
            height: 40px;
            border: 1px solid $gray-400;
        }
    }
    &__nav{
        flex-wrap: wrap;
        position: absolute;
        top: 100px;
        right: 15px;
        width: calc(100% - 30px);
        height: 100%;
        max-height: calc(100vh - 100px);
        z-index: 999;

        background-color: $gray-100;
        text-align: right;

        display: flex;
        flex-wrap: wrap;

        &-item{
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            justify-content: flex-end;

            padding: $spacer $spacer 0;

            font-size: 16px;
            text-align: center;

            &:last-child{
                padding: $spacer;
            }
        }

        &.collapse.show{
            overflow-y: auto;
        }
        &.collapsing {
            transition: height 0s ease;
        }
    }
    &__contact{
        font-size: 12px;
        font-weight: bold;
        margin-top: $spacer/3;

        &:first-child{
            margin-top: 0;
        }
    }
    &__btn{
        margin-top: $spacer;
    }
}
@media (min-width: map-get($map: $grid-breakpoints, $key: sm)) {
    .header{
        &__logo-spbu{
            flex: 0 0 80px;
            max-width: 80px;
            height: 80px;
            background-size: 50%;
        }
        &__logo{
            flex: 0 0 220px;
            max-width: 220px;
            height: 80px;
            background-size: 80%;
            background-position-x: center;
        }
        &__navbar{
            flex: 0 0 calc(100% - 300px);
            max-width: calc(100% - 300px);
        }
        &__nav{
            top: 120px;
            max-height: calc(100vh - 120px);
            width: 510px;
            right: calc( (100% - 510px)/2 );
        }
    }
}
@media (min-width: map-get($map: $grid-breakpoints, $key: md)) {
    .header{
        &__nav{
            width: 690px;
            right: calc( (100% - 690px)/2 );
        }
    }
}
@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    .header{
        &__nav{
            width: 930px;
            right: calc( (100% - 930px)/2 );
        }
    }
}
@media (min-width: map-get($map: $grid-breakpoints, $key: xl)) {
    .header{
        &__toggler{
            display: none;
        }
        &__logo-spbu{
            flex: 0 0 120px;
            max-width: 120px;
            height: 120px;
        }
        &__logo{
            flex: 0 0 280px;
            max-width: 280px;
            height: 120px;
        }
        &__navbar{
            flex: 0 0 calc(100% - 400px);
            max-width: calc(100% - 400px);
        }
        &__nav{
            position: unset;
            background: inherit;
            width: auto;
            height: auto;
            max-height: unset;
            overflow-y: unset;

            flex-direction: column-reverse;

            &-item{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;

                font-size: 13px;
                padding: $spacer/2 0 0;

                &:last-child{
                    padding: 0;
                }
            }
        }
        &__contact{
            margin-top: 0;
            margin-left: $spacer/2;
    
            &:first-child{
                margin-left: 0;
            }
        }
        &__btn{
            margin-top: 0;
            margin-left: $spacer;
        }
    }
}