.form_inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // &__input{
    //     flex: 0 0 calc(100% - 230px);
    //     max-width: calc(100% - 230px);
    //     margin-bottom: 0;
    //     height: 48px;
    // }
    // &__btn{
    //     flex: 0 0 220px;
    //     max-width: 220px;
    //     height: 48px;
    // }
    // &__agree{
    //     flex: 0 0 100%;
    //     max-width: 100%;
    // }
}