html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Text Page

        link(href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans:300,400,700,800&display=swap&subset=cyrillic" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        section.container
            .content-breadcrumbs
                ul.breadcrumbs
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="/catalog.html") Лифты
                    li.breadcrumbs__item.breadcrumbs__item--active Текстовая страница
            .content
                h1 Заголовок h1
                p Maxime placeat, facere possimus, omnis voluptas nulla vero eos. Quam nihil molestiae non recusandae corrupti, quos dolores eos, qui. Id est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. Eligendi optio, cumque nihil molestiae consequatur, vel illum. Temporibus autem quibusdam et expedita distinctio. Saepe eveniet, ut perspiciatis, unde omnis dolor. Provident, similique sunt in ea commodi autem quibusdam et voluptates repudiandae sint.
                img(src="../demo/demo.jpg" alt="" title="")
                h2 Заголовок h2
                p Velit, sed quia non provident, similique sunt in culpa, qui dolorem. Ducimus, qui dolorem ipsum, quia. Quibusdam et accusamus et accusamus et quas. Quo voluptas sit, amet, consectetur, adipisci velit, sed quia voluptas. Veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut enim ipsam. Esse, quam nihil impedit, quo voluptas. Eaque ipsa, quae ab illo inventore veritatis et voluptates.
                blockquote Maxime placeat, facere possimus, omnis voluptas nulla vero eos. Quam nihil molestiae non recusandae corrupti, quos dolores eos, qui. Id est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. Eligendi optio, cumque nihil molestiae consequatur, vel illum. Temporibus autem quibusdam et expedita distinctio.
                h3 Заголовок h3
                p Quo voluptas sit, amet, consectetur, adipisci velit, sed quia voluptas. Veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut enim ipsam. Esse, quam nihil impedit, quo voluptas. Eaque ipsa, quae ab illo inventore veritatis et voluptates.
                h4 Заголовок h4
                p Ipsam voluptatem, quia dolor repellendus quis nostrum exercitationem.
                h5 Заголовок h5
                p Ipsam voluptatem, quia dolor repellendus quis nostrum exercitationem. Asperiores repellat. accusamus et harum quidem rerum hic tenetur. Accusantium doloremque laudantium, totam rem aperiam eaque. Eveniet, ut labore et expedita. Earum rerum hic tenetur a sapiente delectus, ut aut perferendis. Veritatis et dolore magnam aliquam quaerat voluptatem sequi. Aliquid ex ea commodi autem vel illum. Sint et voluptates repudiandae sint.
                h6 Заголовок h6
                ul
                    li sapiente delectus, ut enim ipsam voluptatem, quia consequuntur. 
                    li esse, quam nihil molestiae non recusandae illum, qui ratione voluptatem accusantium. 
                    li adipisci velit, sed quia.
                p Ipsam voluptatem, quia dolor repellendus quis nostrum exercitationem. Asperiores repellat. accusamus et harum quidem rerum hic tenetur. Accusantium doloremque laudantium, totam rem aperiam eaque. Eveniet, ut labore et expedita. Earum rerum hic tenetur a sapiente delectus, ut aut perferendis. Veritatis et dolore magnam aliquam quaerat voluptatem sequi. Aliquid ex ea commodi autem vel illum. Sint et voluptates repudiandae sint.
                table
                    thead
                        tr
                            th Колонка 1
                            th Колонка 2
                    tbody
                        tr
                            td Значение 1
                            td Значение 2
                        tr
                            td Значение 3
                            td Значение 4          
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")