.card{
    display: inline-block;
    width: 100%;
    border: 1px solid $gray-300;
    
    &__label{
        display: inline-block;
        padding: 4px 6px;
        background-color: $gray-200;
        font-weight: bold;
        line-height: 1;
        border-radius: 4px;
        margin-right: 6px;

        &:last-child{
            margin-right: 0;
        }
    }
    &__icon{
        width: auto;
        height: 20px;
        margin: 0 0 15px;
    }

    &__title{
        display: block;
        background: $white;
        padding: $spacer/2;
        transition: .4s;

        color: $black;
        text-decoration: none;

        position: relative;
        cursor: pointer;

        &:after{
            content: '+';
            color: $blue;
            font-size: 2rem;
            line-height: 1;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            right: $spacer/2;

            transition: .4s;
        }
        &[aria-expanded=true]{
            &:after{
                transform: translateY(-50%) rotate(45deg);
            }
        }
        &[aria-expanded=false]{
            &:after{
                transform: translateY(-50%) rotate(0deg);
            }
        }

        &:hover,&:focus{
            color: $gray-700;
            text-decoration: none;
        }

        &_info{
            background-color: $gray-100;
        }
    }
    &__body{
        padding: $spacer/2;
        border-top: 1px solid $gray-300;

        &_info{
            border-top: none;
        }
    }
    &__body-title{
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        
        padding-bottom: $spacer/2;
        margin-bottom: $spacer/2;
        border-bottom: 1px solid $gray-300;
    }

    &__image{
        height: 180px;
        background: no-repeat center / cover;
    }

    &--next{
        border-top: none;
    }
}